.logo {
    font-family: 'Satisfy', sans-serif;
    font-size: 24px;
    color: black;
    
}

.logo:hover {
    text-decoration: none;
    color: black;
    cursor: pointer;
}

.banner img {
    max-width: 100%;
    min-width: 95%;
}

.carrito-btn img {
    width: 24px;
}

.carrito-btn span {
    vertical-align: middle;
    font-size: 0.75rem;
}

#carrito {
    display: none;
}

#cards {
    display: none;
}

.no-border {
    background: white;
    border: 0px;
}

.carrito-btn {
    cursor: pointer;
}